html {
	height: 100%;
	padding: 0;
	margin:0;
}

@green: #2d7c32;
@lightgreen : #acc54a;

body {
	background-image: url('../images/background.png');
	background-size: 100% 150%;
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	-webkit-appearance: none;
	height: 100%;
	width: 100%;
	display:block;
	overflow:hidden;
	background-position: 0 0;
	transition: all 1s ease;	
	padding: 0;
	margin:0;
	font-weight: 300;
}

input {
	border-radius : 250px;
	padding: 15px;
	width:100%;
	margin: 0 0 20px 0;
	font-size: 18px;
	border: 5px solid rgba(255,255,255,0.8);
}

button, .button {
	padding: 20px;
	display: inline-block;
	width:100%;
	max-width: 200px;
	background: @green;
	font-size: 16px;
	border-radius: 250px;
	border:2px solid @lightgreen; 
	color: white;
	font-family: 'Potta One', cursive;
	&.negative {
		background: none;
	}
}

h2 {
	font-family: 'Potta One', cursive;
	font-size: 30px;
	color: white;
	width: 100%;
	display:block;
	padding-bottom: 30px;
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		float:left;
		display:block;
	}
}

.standardcontentpanel {
	position:fixed;
	width: 600px;
	height: 500px;
	margin: -250px 0 0 -300px;
	left: 50%;
	top: 50%;
	text-align:center;
}

*, *:focus {
	box-sizing: border-box;
    outline: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#loading {
	position: fixed; 
	display:none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(29,42,81,0.8);
	opacity: 0;
	transition: all 1s ease;
	z-index : 100;
	&.active {
		opacity: 1;
	}
	img {
		position: fixed;
		top: 50%;
		left:50%;
		margin: -100px;
		width: 200px;
		height: 200px;
		display:block;
		animation: rotation 3s infinite linear;
	}
}


#login {
	position: fixed;
	height:500px;
	width: 290px;
	display:block;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -145px;
	text-align:center;
	img {
		display:inline-block;
		width: 200px;
	}
}

#deviceselect {
	height: 400px!important;
	margin-top: -200px!important;
	.standardcontentpanel();
	li {
		width:50%;
		a {
			display:block;
			text-align: center;
			cursor: pointer;
			em {
					.button();
					margin-top: 20px;
			}
		}
		img {
			width: 40%;
			margin: 0 30%;
			display: inline-block;
		}
	}
}

#grottoselect {
	position: fixed;
	height: 500px;
	width: 800px;
	margin: -250px 0 0 -400px;
	top: 50%;
	left: 50%;
	li {
		width: 25%;
		text-align: center;
		a {
			background: @green;
			width: 150px;
			height: 150px;
			border-radius: 250px;
			display: inline-block;
			text-align: center;
			padding: 50px 0;
			color: white;
			font-family: 'Potta One', cursive;
			margin: 0 0 50px 0px;
			font-size: 30px;
			border: 5px solid @lightgreen;
			cursor:pointer;
		}
	}
}

#search {
	height: 300px!important;
	margin-top: -150px!important;
	.standardcontentpanel();
	h2 {
		padding-bottom: 0;
	}
}

#sentsuccess {
	.standardcontentpanel();
}

#book {
	.standardcontentpanel();
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin: 0;
	background-image: url('../images/paper.jpg');
	background-size: cover;
	padding: 150px 50px 50px;
	overflow: auto;
	h2 {
		color: black;
	}
	#resultlist {
	 display:none;
 	padding: 0 0 100px 0;
	 li {
	 	border-radius : 5px;
	 	padding: 20px;
	 	width: 100%;
	 	display:block;
	 	span {
	 		font-size: 35px;
	 		width: 100%;
	 		display:block;
	 		font-family: 'Potta One', cursive;
	 		text-align:left;
	 		position:relative;
	 		padding-right: 200px;
	 		button {
	 			position: absolute; 
	 			top: 0;
	 			right: 0;
	 		}
	 	}
	 	table {
	 		width: 100%;
			border: 2px dashed rgba(0, 0, 0, 0.6);
			border-radius: 5px;
			margin: 30px 0;
			border-left: 10px solid black;
	 		th {
		 		width: 50%;
		 		padding: 20px;
		 		text-align: left;
		 		font-size: 18px;
		 		line-height: 35px;
		 		font-weight:lighter;
		 		&:last-child {
		 			font-weight:bold;
		 		}
	 		}
	 		tr {
	 			border-bottom: 1px solid rgba(0,0,0,0.1);
	 			width:100%;
	 			display:block;
	 			&:last-child {
	 			border:none;
	 			}
	 		}
	 	}
	 	h2 {
	 		font-size: 20px;
	 		text-align: left;
	 		padding-bottom: 0;
	 	}
	 }
	}
	#noresultsmessage {
		position:fixed; 
		top: 50%;
		left: 50%;
		width: 400px;
		height: 400px;
		margin: -200px;
		img {
			width: 150px;
		}
	}
}

#statusbar {
	position:fixed;
	top:0; 
	left: 0;
	width: 100%;
	padding: 20px;
	background: rgb(29,42,81);
	background: linear-gradient(90deg, rgba(29,42,81,1) 0%, rgba(28,31,39,1) 100%);
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: 'Potta One', cursive;
	-webkit-box-shadow: 5px -8px 15px 5px rgba(0,0,0,0.93); 
	box-shadow: 5px -8px 15px 5px rgba(0,0,0,0.93);
	transition: all 1s ease;
	top: -100px;
	span {
		padding-top: 12px;
		display:inline-block;
	}
	button {
		float:left;
		background: none;
		&.negative {
			float:right;
		}
	}
	&.active {
		top: 0;
	}
}

#errorbar {
	width:100%;
	display:block;
	float:left;
	position:fixed;
	background: #ad3c3e;
	color: white;
	padding: 30px;
	text-align:center;
	font-size: 25px;
	font-family: 'Potta One', cursive;
	border-bottom: 5px solid white;
	transition: all 1s ease;
	top: -100px;
	left: 0;
	&.active {
		top: 0;
	}
}

.stage {
	display:none;
}